body {

    width: 100%;
    height: 100%;
    max-height: 1500px;
    background-image: linear-gradient(darkslategrey,darkgrey);
    box-shadow: 0px 0px 50px 0px rgba(20,50,50,0.55);
    padding: 0;

}



input {
    width: 120px;
    float:right;
    margin-top: 15px;
    font-family: "Trebuchet MS";
}

.topnav{

    float: left;
    width: 100%;
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;
    background-image: linear-gradient(darkgrey,slategrey);
    padding-top:10px;
    padding-bottom:10px;


}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:white;
}

.search-box{
    float: right;
}

.Blog-Post{
    float: left;

}









