html{
    background:#eeeeee;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;

}

body {
    background-color: darkgrey;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    height: 100%;
    max-height: 1000px;
    background:#fafafa;
    box-shadow: 0px 0px 50px 0px rgba(20,50,50,0.55);
    padding: 0;

}

h3 {
    font-size: 50px;
    font-family: "Trebuchet MS";
    color: darkgrey;

}



input {
    width: 120px;
    float:right;
    margin-top: 15px;
    font-family: "Trebuchet MS";
}

.topnav{

    float: left;
    width: 100%;
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;
    background-image: linear-gradient(darkgrey,whitesmoke);
    padding-top:10px;
    padding-bottom:10px;

}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:white;
}

.search-box{
    float: right;
}







