body {

    width: 100%;
    height: 1500px;
    max-height: 1500px;
    background-image: linear-gradient(darkslategrey, darkgrey);
    box-shadow: 0px 0px 50px 0px rgba(20, 50, 50, 0.55);
    padding: 0;

}

input {
    width: 120px;
    float: right;
    margin-top: 15px;
    font-family: "Trebuchet MS";
}

#like input {
    width: 120px;
    float: left;
    margin-top: 15px;
    font-family: "Trebuchet MS";
}


.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;
    background-image: linear-gradient(darkgrey, slategrey);
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

li p {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    float: right;
    padding-left: 20px;
}

a:hover {
    color: white;
}

.search-box {
    float: right;
}

.Blog-Post {
    float: left;

}



#like input {
    width: 120px;
    float: left;
    margin-top: 15px;
    font-family: "Trebuchet MS";
    margin-left: 200px;
}

#userProfile pre {
    margin-left: 100px;
    font-weight: bold;
    font-family: "Trebuchet MS";
}



