html{
    background:#eeeeee;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 250px;
    padding: 0;
}

body {
    background-color: darkgrey;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    height: 100%;
    max-height: 1000px;
    background:#fafafa;
    box-shadow: 0px 0px 50px 0px rgba(20,50,50,0.55);
    padding-left: 20px;
    padding-bottom: 10px;
}

h3{
    font-size: 40px;
    color:darkgrey;
    font-family: fantasy;

}

input {
    width: 50px;
    margin: 3px;
    font-family: fantasy;

}









