body {

    width: 100%;
    height: 100%;
    max-height: 1500px;
    background:darkslategrey;
    box-shadow: 0px 0px 50px 0px rgba(20,50,50,0.55);
    padding: 0;

}

.error-box{
    font-size: 30px;
    font-family: "Trebuchet MS";
    color: black;

}

legend{
    font-size: 40px;
    font-family: "Trebuchet MS";
    color: black;
}

fieldset{
    margin-top: 20px;
    background-image: linear-gradient(slategrey,darkgrey);
    border: none;
}


.text-field {
    width: 120px;
    margin-top: 15px;
    font-family: "Trebuchet MS";
}

.topnav{

    float: left;
    width: 100%;
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;
    background-image: linear-gradient(darkgrey,slategrey);
    padding-top:10px;
    padding-bottom:10px;
    margin-top: 20px;

}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:white;
}

.search-box{
    float: right;
}

img{
    float: right;
}







